/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header{
  background-color: yellow;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  border-bottom: 10px solid black;
  position: static;
}
.header-content{
  padding-bottom: 20px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}
.header-details{
  display: flex;
  padding-left: 50px;
}
.header-details h2{
  padding-left: 10px;
}
.header-contact-logo{
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
}
.header-contact-logo a{
  padding-left: 20px;
  color: black;
}

.home{
  background-color: rgb(251, 134, 153);
  background-size: 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 60px;
}
.home-container{
  display: flex;
  
}
.home-intro{
  height: 400px;
  width:300px
}
.home-pic{
  margin-right: 40px;
}

.profile-pic{
  position: relative;
  display: inline-block;
  width: 400px;
  height:500px;
  left:20dvw;
  z-index: 2;
  border: 10px solid black;
}

.project-back{
  position: absolute;
  right: 55px;
  top: 95px;
  background-color: white;
  transform: rotate(10deg);
  z-index: 0;
  border: 5px solid black;
  box-shadow: 10px yellowgreen;
}
#name{
  background-color: yellow;
  transform: rotate(-3deg);
  width: fit-content;
  font-weight: bolder;
  font-size: 60px;
}
#Hi{
  font-size: 60px;
  width: fit-content;
  
}
#Resume{
  border: 5px solid black;
  width: fit-content;
  box-shadow: 10px 10px 5px black;
 cursor: pointer;
}
.footer{
  background-color: black;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid yellow;
}
.footer-up{
  display: flex;
  align-items:self-start;
  justify-content: space-between;
  width:fit-content;
  
}
.footer-Links{
  margin-left: 250px;
  margin-right: 250px;
}
.footer-connect{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.footer-down{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

.footer-connect :hover{
  color: yellow;
}
.footer-Links :hover{
  color: yellow;
  font-size: 1.2em;
}
.footer-Name{
  margin-left: 10px;
}
.footer-down{
  font-family:cursive;
}